* {
    list-style: none;
    text-decoration: none;
    /* box-sizing: border-box; */
    /* margin: 0;
    padding: 0; */
}

body {
    background-color: #efdec1;
    font-size: 14px;
    font-family: Verdana, sans-serif;
}

.container {
    width: 400px;
    margin: 8px auto;
    background-color: #fff;
    border-radius: 4px;
    padding: 16px;
    position: relative;
}

#question {
    margin-bottom: 16px;
    font-weight: bold;
}

#choices {
    padding: 0;
    margin-bottom: 16px;
}

#choices > li {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

#choices > li:hover {
    background-color: #f8f8f8;
}

#choices > li.correct {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
    font-weight: bold;
}

#choices > li.correct::after {
    content: '...correct!';
}

#choices > li.correctIs {
    background-color: #9ccdee;
    border-color: #89b8df;
    color: #216fa3;
    font-weight: bold;
}

#choices > li.correctIs::before {
    content: 'correct is...'
}

#choices > li.wrong {
    background-color: #f8d8da;
    border-color: #f5c6cb;
    color: #721c24;
    font-weight: bold;
}

#choices > li.wrong::after {
    content: '...wrong!';
}

#btn, #result > a {
    background: #3498db;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 0 #2880b9;
  }
  
  #btn.disabled {
    background: #ccc;
    box-shadow: 0 4px 0 #bbb;
    opacity: 0.7;
  }

  #result {
      position: absolute;
      width: 300px;
      padding: 30px;
      background-color: #fff;
      box-shadow: 0px 4px 8px rgb(0, 0, 0, 0.2);
      top: 50px;
      left: 0;
      right: 0;
      margin: 0 auto;
      border-radius: 4px;
      text-align: center;
      transition: 0.4s;
  }

  #result.hidden {
      transform: translateY(-500px);
  }

  #result > p {
      font-size: 24px;
  }

  #result > a {
      display: block;
  }